# Node modules
node_modules/

# Logs
*.log
*.log.*

# Expo-specific
.expo/
.expo-shared/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build artifacts
build/
dist/
web-build/

## Next.js